body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.lisa-manoban{
    color: yellowgreen;
}
h3{
    color: #FF4690;
}
section {
    display: flex;
    margin-bottom: 100px;
}
.yoga-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#flexible{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 4%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(yellowgreen, yellowgreen);
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 30px
}
#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.lalisa{
    color: #FF4690;
}
.left-side{
    width: 50%;
    padding-right: 4%;
}
.left-side img{
    width: 70%;
}
.pink-button{
    text-decoration: none;
    background-image: linear-gradient(#FF4690, #FF4699);
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 30px;
}
#dream-bg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#border-left{
    border-left: 8px solid;
    border-image: linear-gradient(yellowgreen, #FF4690);
    border-image-slice: 1;
}
.shadow{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    box-shadow: 12px 12px 5px gray;
    border-radius: 10px;
}
#border-gradiant{
    border-left: 8px solid;
    border-image: linear-gradient(#FF4690, yellowgreen);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}